RewriteEngine On
RewriteCond %{HTTPS} on
RewriteRule (.*) http://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

<IfModule mod_expires.c>
# Enable expirations
ExpiresActive On
# Default directive (1 month)
ExpiresDefault "access plus 1 year"
</IfModule>
